<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="logo-angular" srcset="">
  </div>
  <div class="big-card__title">
    <h1>
      <a href="https://angular.io/">Framework Angular</a>
    </h1>
  </div>  
  <div class="big-card__description">
    <p>Introdução ao angular - HELLO WORLD! Angular é uma plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript liderado pela Equipe Angular do Google e por uma comunidade de indivíduos e corporações. Angular é uma reescrita completa do AngularJS, feito pela mesma equipe que o construiu.</p>
  </div>
</div>